*{
    margin:5px;
}

body{
    background-color: #ffc996;
}   

.title{
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    font-size: 50px;
    text-align: center;
}

.projectContainer{
    display: flex;
}

.container{
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px;
    /* width: 100%; */
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #fce2cc;
}

.container .dispImage{
    width: 95%;
    height:90%;
    border-radius: 5px;
    cursor: pointer;
}


.container:hover{
    transform: scale(1.02);
}

.container .containerTitle{
    padding-top:1px;
    font-size: 20px;
}

a, a:visited, a:active, a:hover{
    text-decoration: none;
    display: block;
    width: 30%
}

.copyright{
    float:right;
}