*{
    
    box-sizing: border-box;
}

body{
    background-color: #13182c;
    margin:0 10%;
}   

.squares-container{
    z-index: -5;
    width:100%;
    min-height: 100vh;
    position: absolute;
    overflow: hidden;
}

.squares{
    position: relative;
    display: flex;
}

.squares-container span{
    overflow: hidden;
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 35px;
    background: #ff5555;
    box-shadow: 0 0 0 5px #ff555544,
    0 0 50px #ff5555,
    0 0 50px #ff5555;
    animation: animate 15s linear infinite;
    animation-duration: calc(150s/var(--i))
}

.squares span:nth-child(even){
    background: #ffec81;
    box-shadow: 0 0 0 5px #ffec8144,
    0 0 50px #ffec81,
    0 0 50px #ffec81;
    animation: animate 15s linear infinite;
    animation-duration: calc(150s/var(--i))
}

@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0) rotate(0deg)
    }
    50%{
        transform: translateY(50vh) scale(1) rotate(180deg)
    }
    100%{
        transform: translateY(0vh) scale(0) rotate(360deg) 
    }
}

.title{
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}

.projects-row{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    /* height: auto; */
}

.container{
    flex-basis: 30%;
    display:flex;
    height: 40vh;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    padding:10px;
    background-color: #ffffff;
}

.container .dispImage{
    width: 95%;
    border-radius: 5px;
    height: 70%;
}


.container:hover{
    transform: scale(1.02);
}

.container .containerTitle{
    padding:15px;
    font-size: 20px;
    /* height: 10%; */
}

a, a:visited, a:active, a:hover{
    text-decoration: none;
    display: block;
}

#copyright{
    color: white;
    background-color: black;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
}

.site-icon{
    display: block;
    height: 90%;
}

.links{
    margin:0;
    display: flex;
    flex-direction: row;
    height:15%;
    width:100%;
    justify-content:space-around;
    align-items: center;
}

.links .live-setup-link{
    height: 100%;
}

.links button{
    height:100%;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background-color: black;
    color:white
}

@media (max-width: 900px) {
    .projects-row{
        /* height: 100%; */
        flex-direction: column;
        margin:0 0;
    }
    .container{
        height: 50vh;
        flex-basis:auto;    
    }
}